openapi: 3.0.0
info:
  title: Follow Up Boss API
  version: 1.0.0
  description: API in Follow Up Boss
servers:
  - url: https://api.followupboss.com
paths:
  /mixed-endpoint:
    put:
      summary: Update mixed data with public and internal fields
      operationId: updateMixedData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                updateField:
                  type: string
                  description: A public field to be updated
                nestedObject:
                  type: object
                  properties:
                    nestedPublic:
                      type: string
                      description: Public nested field
              required:
                - updateField
      responses:
        '200':
          description: Update successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  updateField:
                    type: string
                  nestedObject:
                    type: object
                    properties:
                      nestedPublic:
                        type: string
              example:
                updateField: Updated value
                hiddenField: This should be removed
                nestedObject:
                  nestedPublic: Public nested value
                  nestedInternal: This nested internal value should be removed
  /public-endpoint:
    get:
      summary: Retrieve public data
      operationId: getPublicData
      responses:
        '200':
          description: Successful response with public data
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Public identifier
                  name:
                    type: string
                    description: Name of the item
                  details:
                    type: object
                    properties:
                      description:
                        type: string
                        description: Detailed description of the item
              example:
                id: 1
                name: Public Item
                internalNote: This note should be filtered out
                details:
                  description: This is a public item description.
                  secretDetail: This secret should be removed
components: {}
